*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(100px, auto);
    gap: 20px;
}

.grid article {
    position: relative;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgb(221, 221, 221);
    padding: 20px;
}