span {
    color: blueviolet;
    width: min(20vw, 200px);
    display: block;
    background-color: green;
}

.box {
    background-image: url(https://mdn.github.io/shared-assets/images/examples/star.png);
    background-color: blue;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: 10px 20px;
}